@media only screen and (min-width : 320px) and (max-device-width : 480px) {
    .section{
        width: 95%;
        margin: 0 0 5px 8px;
        border: 1px solid black;
    }

    .section__title{
        font-weight: bold;
        padding: 10px;
    }

    .section__desc{
        padding: 10px 10px 20px 10px;
        font-size: 12px;
    }

    .section__button{
        margin-left: calc(50% - 80px);
        width: 50%;
        margin-bottom: 10px;
        background-color: rgb(37, 135, 204);
        color: white;
        border-radius: 5px;
    }
}

@media only screen and (min-width : 600px) and (max-device-width : 768px){
    .main{
        display: flex;
        flex-wrap: wrap;
    }
    .section{
        width: 48%;
        margin: 0 0 5px 8px;
        border: 1px solid black;
    }

    .section__title{
        font-weight: bold;
        padding: 10px;
    }

    .section__desc{
        padding: 10px 10px 20px 10px;
        font-size: 12px;
    }

    .section__button{
        margin-left: calc(50% - 80px);
        width: 50%;
        margin-bottom: 10px;
        background-color: rgb(37, 135, 204);
        color: white;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 1025px) {
    .main{
        display: flex;
        flex-wrap: wrap;
    }
    .section{
        width: calc((100% / 3) - 10px);
        margin: 0 0 5px 8px;
        border: 1px solid black;
    }

    .section__title{
        font-weight: bold;
        padding: 10px;
    }

    .section__desc{
        padding: 10px 10px 20px 10px;
        font-size: 12px;
    }

    .section__button{
        margin-left: calc(50% - 125px);
        width: 50%;
        margin-bottom: 10px;
        background-color: rgb(37, 135, 204);
        color: white;
        border-radius: 5px;
    }
}